
  body {
    font-family: sans-serif;
  }
  html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px;
    z-index:10;
  }
  meter {
    width:200px;
  }

  #overlay {
    width: 100%;
    display:none;
    height: 60%;
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 0 10px 10px white;
    z-index: 100;
    position: absolute;
    top:10%;
    left:0;
  }
  .iconList {
    width: 300px;
  }
  .iconList span {
    width: 100px;
    text-align: center;
    display: inline-block;
  }
  .iconList span:hover {
    background-color: yellow;
  }
  .iconList img {
    display: block;
    margin: 0 auto;
  }

  .verbage .controls {
    float: right;
  }

  .verbage h1, .donate h1{
    font-size: 1.2em;
    text-transform: capitalize;
  }
  .verbage p:last-of-type, .donate form:last-of-type {
    height: 36px;
    text-align: center;
  }

  .donate .money {
    color: green;
    margin-left: 10px;
  }
